<div class="form">
  <h1 class="form__tile">Authorization</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field class="form__control">
      <mat-label>Enter your email</mat-label>
      <input matInput formControlName="email" placeholder="name@example.com" />
      <mat-error>{{ emailErrorMessage }}</mat-error>
    </mat-form-field>

    <mat-form-field class="form__control">
      <mat-label>Enter your password</mat-label>
      <input matInput formControlName="password" [type]="passwordInputType" />
      <mat-error>Не правильно заполнено поле</mat-error>
      <button
        mat-icon-button
        matSuffix
        (click)="onTogglePasswordVisible()"
        type="button"
      >
        <mat-icon>
          {{ isPasswordVisible ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
    </mat-form-field>

    <div class="form__action">
      <button mat-raised-button type="submit">Login</button>
    </div>
  </form>
</div>
